
/*

    Base HTML tags

*/
body {
    background-color: #181A18;
}

a {
    text-decoration: none;
}

h4 {
    margin: 0px;
    color: #F5F6FB;
}

p {
    margin: 0px;
    color: #CBCBCB;
}

/*--------------------------------------*/

/*

    Class Styles

*/

.container {
    width: 65%;
    margin: 0 auto;
    padding: 0px 10px;
}

.scanlators {
    display: grid;
    grid-template-columns: 0.345fr 1.2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    background-color: #252525;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.55);
    margin-bottom: 30px;
}

.logo {
    text-align: center;
    vertical-align: middle;
    height:100%;
    border-right: 2px solid black;
    color: #e50815;
}

.scrollable-container {
    height: 300px;
    overflow-y: auto;
}

.chapter {
    padding-bottom: 5px;
}

.time {
    padding-bottom: 5px;
}

.entry {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #515151;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.group {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 24px;
}

.entry-container {
}

/*--------------------------------------*/

/*
    Scrollbar style
*/

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

